*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins",Arial,sans-serif;

}


body{

background:#111827;

}



/* LOGIN */

.login-page{

height:100vh;

display:flex;

justify-content:center;

align-items:center;


background:linear-gradient(
135deg,
#2563eb,
#7c3aed,
#0891b2
);


background-size:300% 300%;

animation:bgAnimation 8s infinite alternate;

}



@keyframes bgAnimation{

0%{

background-position:left;

}

100%{

background-position:right;

}

}



.login-box{


width:400px;

padding:45px;


background:rgba(255,255,255,0.12);

backdrop-filter:blur(20px);


border-radius:25px;


text-align:center;


color:white;


box-shadow:
0 20px 40px rgba(0,0,0,.4);


}



.login-box h1{

font-size:32px;

margin-bottom:10px;

}



.login-box p{

color:#dbeafe;

margin-bottom:25px;

}



input{


width:100%;

padding:15px;

margin:12px 0;


border-radius:12px;

border:none;


font-size:16px;


outline:none;


}



button{


width:100%;

padding:15px;


border:none;


border-radius:12px;


background:#38bdf8;


color:white;


font-size:17px;


cursor:pointer;


transition:.3s;


}



button:hover{

background:#2563eb;

transform:scale(1.03);

}





/* DASHBOARD DARK THEME */


.dashboard{


min-height:100vh;


padding:50px;


background:#111827;


color:white;


}



.dashboard h1{


text-align:center;


font-size:40px;


}



.subtitle{


text-align:center;


color:#cbd5e1;


margin:20px;


}



.dashboard-grid{


display:grid;


grid-template-columns:repeat(2,1fr);


gap:30px;


max-width:1000px;


margin:40px auto;


}




.dashboard-card{


padding:35px;


background:#1e293b;


border:1px solid #334155;


border-radius:22px;


text-decoration:none;


color:white;


transition:.4s;


box-shadow:
0 10px 25px rgba(0,0,0,.3);


}




.dashboard-card:hover{


transform:translateY(-8px);


background:#273449;


border-color:#38bdf8;


}




.dashboard-card h2{


font-size:26px;


margin-bottom:15px;


}




.dashboard-card p{


color:#cbd5e1;


}





/* DATA PAGES */


.container{


min-height:100vh;


padding:40px;


background:#111827;


color:white;


}



.card{


background:#1e293b;


border:1px solid #334155;


padding:30px;


margin:25px auto;


border-radius:20px;


max-width:800px;


color:white;


box-shadow:
0 10px 25px rgba(0,0,0,.3);


}

.password-container{
  position:relative;
}


.password-container input{
  padding-right:50px;
}


.show-btn{

  position:absolute;

  right:10px;

  top:10px;

  width:40px;

  height:40px;

  padding:0;

  background:transparent;

  color:#111;

  font-size:18px;

}


.show-btn:hover{

  background:transparent;

  transform:none;

}